# Django
SECRET_KEY=os.environ.get('SECRET_KEY')
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (для приложения)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=atomic_habits
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# PostgreSQL (для docker-compose, образ postgres)
POSTGRES_DB=atomic_habits
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Telegram
TELEGRAM_BOT_TOKEN=os.environ.get('TELEGRAM_BOT_TOKEN', '')